* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: darkslateblue;
  color: #fff;
  font-size: 2rem;
}

@media screen and (max-width: 500px), (min-width: 800px) {
  .main {
    background-color: rgb(139, 61, 136);
    color: rgb(107, 106, 106);
    font-size: 1rem;
  }
}
@media (max-width: ); /* @media (orientation: landscape) {
  .main {
    background-color: rgb(139, 61, 136);
    color: rgb(107, 106, 106);
    font-size: 1rem;
  }
}

@media (orientation: portrait) {
  .main {
    background-color: rgb(139, 61, 136);
    color: rgb(107, 106, 106);
    font-size: 1rem;
  }
} */
