* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  background-color: rgb(167, 165, 165);
  width: 60%;
  /* height: 500px; */
  display: grid;
  /* grid-template-columns: 200px 250px 200px 200px; */
  /* grid-template-columns: 1fr 1fr 3fr; */
  grid-template-columns: repeat(3, 150px);

  /* grid-template-rows: 100px 200px 150px; */
  /* grid-auto-rows: 200px; */
  grid-auto-rows: minmax(200px, auto);
  /* grid-column-gap: 10px; */
  /* grid-row-gap: 30px; */
  grid-gap: 25px;
  grid-template-areas:
    "header header header"
    "section section none"
    "nesto1 nesto2 none";
}

.child {
}

.child1 {
  background-color: blanchedalmond;
  grid-area: header;
}

.child2 {
  background-color: bisque;
  grid-area: section;
}

.child3 {
  background-color: rgba(222, 184, 135, 0.5);
  /* opacity: 0.4; */
  grid-area: none;
}

.child4 {
  background-color: rgb(234, 179, 107);
  grid-area: nesto1;
}

.child5 {
  background-color: rgb(235, 157, 56);
  grid-area: nesto2;
}

.child6 {
  background-color: rgb(212, 122, 5);
}

.child7 {
  background-color: rgb(128, 74, 4);
}
